@import "reset.css";

:root {
	--text: #6b6375;
	--text-h: #08060d;
	--border: #3e334c;
	--bg: #fff8ee;

	--sans: system-ui, "Segoe UI", Roboto, sans-serif;
	--heading: system-ui, "Segoe UI", Roboto, sans-serif;
	--mono: "Syne Mono", monospace;

	font: 18px/145% var(--mono);
	letter-spacing: 0.18px;
	color-scheme: light dark;
	color: var(--text);
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #9ca3af;
		--text-h: #f3f4f6;
		--border: #b4bac6;
		--bg: #2f1f07;
	}

	#social .button-icon {
		filter: invert(1) brightness(2);
	}
}

body {
	margin: 0;
}

#root {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

h1,
h2 {
	font-family: var(--mono);
	font-weight: 500;
	color: var(--text-h);
}

h1 {
	font-size: 56px;
	letter-spacing: -1.68px;
	margin: 32px 0;
	@media (max-width: 1024px) {
		font-size: 36px;
		margin: 20px 0;
	}
}
h2 {
	font-size: 24px;
	line-height: 118%;
	letter-spacing: -0.24px;
	margin: 0 0 8px;
	@media (max-width: 1024px) {
		font-size: 20px;
	}
}
p {
	margin: 0;
}

button {
	font-size: 24px;
	border: 2px solid var(--border);
	padding: 5px 10px;
	transition: background ease-in-out 0.2s;
}

button:hover {
	background-color: color-mix(in srgb, var(--border), var(--bg) 70%);
}

button:focus-visible {
	outline: 2px solid var(--border);
	outline-offset: 1px;
}

button:active {
	transition: none;
	color: color-mix(in srgb, var(--bg), transparent 30%);
	background-color: var(--border);
}
