* {
	box-sizing: border-box;
}

button {
	appearance: none;
	border-radius: 0;
	text-align: inherit;
	background: none;
	box-shadow: none;
	padding: 0;
	cursor: pointer;
	border: none;
	color: inherit;
	font: inherit;
}

h1,
h2,
h3 {
	margin: 0;
}
